<div class = "container">
<br>
  <p [className]="'colorClass'"> {{title}} </p>

  <div class = "formularzform">

      <input  [(ngModel)]='tytul' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tytuł">
      <br>
      <br>
      <input  [(ngModel)]= 'strona' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Link">
      <br>
      <br>
      <button (click)='dodaj()' type="button" class="btn btn-outline-secondary" > Dodaj</button>


  </div>
</div>


<br>
<br>

<div class='artykulyPunkty'>

    <div>
      <p [className]="'colorClass'">Tytuł: </p>
        <ul style="list-style: none;">
          <li *ngFor = 'let k of listaTytul'>
            {{k}}
          </li>
        </ul>
    </div>

    <div>
      <p [className]="'colorClass'" >Link:</p>
      <ul style="list-style: none;">
          <li *ngFor = 'let j of listaLinkow'>

              <a target="_blank" href={{j}}>{{j}}</a>

          </li>
      </ul>
    </div>


    <div>
      <p [className]="'colorClass'">Punkty:</p>
      <ul style="list-style: none;">
          <li *ngFor = 'let z of licznik; let i = index'>
              <button  type="button" class="btn btn-secondary" (click) = 'plus(i)'> + </button>
              &nbsp;
              <button  type="button" class="btn btn-secondary" (click) = 'minus(i)'> - </button>
              &nbsp;&nbsp;&nbsp;
              {{z}}

          </li>
      </ul>

    </div>


  </div>
