<app-test [t]="1"></app-test>
<app-test [t]="1"></app-test>
<app-test [t]="1"></app-test>

<app-test [t]="1"></app-test>
<app-test [t]="1"></app-test>
<div class = "container">

  <p> {{title}} </p>

  <div class = "formularzform">

    <form [formGroup] = "form">
        <input formControlName="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tytuł">

        <input formControlName="link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Link">

        <button (click)='dodaj()' [disabled]="!form.valid" type="button" class="btn btn-outline-secondary" > Dodaj</button>
    </form>

  </div>
</div>


<div>
  <div class = "article" *ngFor="let link of sort()">

    {{link.title}}
    <a href={{link.link}} target = "_blank" >{{link.link}}</a>
    {{link.point}}

    <button (click)='plus(link)' type="button" class="plusMinus btn btn-outline-secondary" > + </button>
    <button (click)='minus(link)' type="button" class="plusMinus btn btn-outline-secondary" > -</button>

  </div>
</div>
